#base {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding-bottom: 10%;
}

h1, p {
    color: black;

}

.list-error {
    padding: 0;
}

.list-error li {
    list-style-type: none;
    margin-bottom: 5px; /* Ajuste o espaçamento conforme necessário */
}

#bt1 {
    background-color: #f72585;
    height: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

#bt1:hover {
    transform: scale(1.05);
    background-color: #48ff00;
    font-size: 20px;
    color: black;
}
