{% extends 'home.html' %}
{% block conteudo %}
{% load static %}
{% load widget_tweaks %}
<link href=" {% static 'css/aposta.css' %}" rel="stylesheet">


    <div class="container mt-5" id="base">
      

        <form class="container text-center" method="POST" action="{% url 'pix' game.id %}">

          

          {% csrf_token %}

          <h1>{{ game }}</h1>
          <p>{{ game.date|date:"d/m/y" }} <br>{{ game.date.time|time:"h:i A" }}</p>

          <div class="row row-cols-1">

            <div class="col-md-6 offset-md-3 mb-4">
                <label for="validationDefault04" class="form-label">Apostar em:</label>

                {% render_field form.escolha type="text" class="form-select" id="validationDefault04" %}

            </div>

            <div class="col-md-6 offset-md-3 mb-4">
                <label for="validationDefault04" class="form-label">Método de pagamento:</label>

                {% render_field form.metodo type="text" class="form-select" id="validationDefault04" %} 
                
              </div>

            <div class="col-md-6 offset-md-3 mb-4">
              <label for="validationDefault01" class="form-label">Valor :</label>

              {% render_field form.valor type="text" class="form-control" id="validationDefault01" placeholder="Valor"  %} 
              <p>Apostas somente acima de R$ 10</p>

              {% if messages %}
                <ul class="list-error">
                  
                  {% for message in messages %}
                    <div class="alert {{message.tags}}">
                      <li> {{ message }}</li>
                    </div>
                  {% endfor %}    
                </ul>
              {% endif %}

              
            </div>

            <div class="col-12 mt-3">
              <button class="btn btn-success" id='bt1' type="submit" >Confirmar Aposta</button>
            </div>

          </div>
        </form>
    </div>

    

     <!-- JS proprios -->
     <script src="{% static 'js/aposta.js' %}"></script>

{% endblock %}